*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
header{
    background: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right,left;
}

/* header and navbar */
nav{
    display: flex;
    justify-content: space-between;align-items: center;
    margin: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 51px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.text-orange{
    color: #FD6E0A;;
}
.hire-btn{
    padding: 18px 35px;
    background: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    border: 0;
    margin-top: 30px;
}
/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    padding-top: 150px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
}
.banner-text{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
}
.banner-img{
    width: 400px;
    height: 500px;
}

/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about style */
.about{
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 131px 151px;
    text-align: center;
}
.selection-title{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}
.selection-text{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-between;
}
.about-info{
    
    margin-top: 30px;
}
.bolde{
    color: #474747;
    font-weight: 700;
    font-size: 20px;
}
